* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
  
h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.25px;
}
  
html {
  overflow: hidden;
}
  
button {
  cursor: pointer;
  }
  
[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}